/* ------ Global Settings ------ */

@page {
    size: 8.5in 11in; /* Change from the default size of A4 */
    margin: 0.25in; /* Set margin on each page */
}

body {
    font-family: helvetica;
    font-size: 10pt;
}

/* ------ Header ------ */

nav {
    display: flex;
    justify-content: space-evenly;
}

#sinc {
    width: 100%;
    position: relative;
    top: -4vh;
}

/* ------ Headings ------ */

h1 {
    font-size: 18pt;
}

h2 {
    font-size: 14pt;
}

h1, h2 {
    padding: 0;
}
h1 hr, h2 hr {
    background-color: black;
    margin: 0;
}
h1 hr {
    height: 0.25em;
}


/* ------ Other ------ */

.twocolumn {
    columns: 100px 2;
}

.twocolumn section h3 {
    margin-top: 0;
}

table.timeline td:first-child {
    width: 100%;
}
table.timeline td:last-child {
    white-space: nowrap;
    text-align: right;
}

ul, p {
    list-style-type: none;
    padding-left: 1em;
    margin: 0;
}

.twocolumn section ul {
    page-break-inside: avoid;
    break-inside: avoid-column;
}

