/* ------ Global Settings ------ */

@page {
    size: 8.5in 11in; /* Change from the default size of A4 */
    /* https://www.fffuel.co/ttten/  round 94% opacity 0 size mod stroke width*/
    background-image: url("pattern.svg");
    background-size: 250px;
    /* background-image: url("sssquiggly.svg"); */
    /* background-size: 250px; */
    /* background-image: url("rrreflection.svg"); */
    /* background-size: 150px; */
    /* background-image: url("ooorganize.svg"); */
    /* background-size: 150px; */
    /* background-repeat: repeat-xy; */
    padding: 0.25in;
    margin: 0;
}


body {
    font-family: helvetica;
    font-size: 10pt;
}

/* ------ Header ------ */

nav {
    display: flex;
    justify-content: space-evenly;
}

#sinc {
    width: 100%;
    position: relative;
    top: -4ch;
}

/* ------ Headings ------ */

h1 {
    font-size: 18pt;
}

h2 {
    font-size: 14pt;
}

h1, h2 {
    padding: 0;
}
h1 hr, h2 hr {
    background-color: black;
    margin: 0;
}
h1 hr {
    height: 0.25em;
}


/* ------ Other ------ */

article {
    page-break-inside: avoid;
}

.twocolumn {
    columns: 100px 2;
}

.twocolumn section h3 {
    margin-top: 0;
}

table.timeline td:first-child {
    width: 100%;
}
table.timeline td:last-child {
    white-space: nowrap;
    text-align: right;
}

ul, p {
    list-style-type: none;
    padding-left: 1em;
    margin: 0.5em;
}

li {
    /* FIXME - weasyprint doesn't support hanging yet */
    /* text-indent: 1em hanging; */
    margin-left: 1em;
    text-indent: -1em;
}

.twocolumn section ul {
    page-break-inside: avoid;
    break-inside: avoid-column;
}

